/*ul{*/
/*    list-style-type: none;*/
/*}*/
/*.btn{*/
/*    width: 70px;*/
/*    color: aliceblue;*/
/*    cursor: pointer;*/
/*    padding: 10px 15px;*/
/*    background-color: #1C62B9;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    transition: 0.2s ease-out;*/
/*}*/
/*.btn:hover{*/
/*    background-color: #2377e3;*/
/*}*/
.icon{
    background: url("./img/searchicon.png") no-repeat 7px ;
    background-size: 20px;
}
.app{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
}
.active{
    background-color: #3b82f6;
    color: aliceblue;
    font-weight: 500;
}
.back-icon{
    background: url("./img/back-icon.png") no-repeat 7px ;
    background-size: 20px;
}
.remove-icon{
    background: url("./img/trash-icon.png") no-repeat 4px;
}
.liked{
    background: url("./img/liked.svg") no-repeat ;
    background-size: 20px;
}
.liked-dark{
    background: url("./img/filled-like.svg") no-repeat ;
    background-size: 20px;
}